# Exercícios do Minicurso

## Quadro-resumo dos exercícios

| Notebook               | Título do Exercício                                    | Objetivo Didático                                                                 |
|------------------------|--------------------------------------------------------|-----------------------------------------------------------------------------------|
| `basico.ipynb`         | Municípios prioritários para políticas públicas        | Filtrar e ordenar municípios com base em renda e número de famílias               |
| `joins.ipynb`          | Infos Municípios prioritários para políticas públicas  | Adicionar as informações do município                                             |
| `with_clause.ipynb`    | Mapeamento de famílias vulneráveis por município       | Cruzar tabelas e agregar famílias por município e perfil de instrução e renda     |
| `window_functions.ipynb` | Desigualdade de renda dentro das regiões             | Usar funções de janela para classificar as regiões por desilgualdade              |

---

## Detalhamento dos exercícios

### `basico.ipynb` – Municípios prioritários para políticas públicas

Liste os **10 municípios** onde:
- a **renda média familiar** é inferior a R$ 200, e  
- há mais de 50 famílias cadastradas.

Mostre:
- `cd_ibge`, `renda_media`, `total_familias`  
Ordene do menor para o maior valor médio de renda.

---

### `joins.ipynb` – Infos Municípios prioritários para políticas públicas

Liste os **10 municípios** onde:
- a **renda média familiar** é inferior a R$ 200, e  
- há mais de 50 famílias cadastradas.
- utilize a tabela de informações municípios do IBGE

Mostre:
- `municipio`, `uf`, `regiao`, `total_familias_em_risco`  
Ordene do menor para o maior valor médio de renda.

---

### `with_clause.ipynb` – Mapeamento de famílias vulneráveis por município

Liste os **10 municípios** com o maior número de famílias que:
- possuem **renda média familiar inferior a R$ 200**, e  
- têm **ao menos uma pessoa sem instrução formal** (`cod_curso_frequentou_pessoa_memb`).

Mostre:
- `municipio`, `uf`, `regiao`, `total_familias`  
Ordene pelo maior número de famílias em risco.

---

### `window_functions.ipynb` – Desigualdade de renda dentro das regiões

Calcule a média de renda das famílias por região
- 10% que recebem menos
- 10% que recebem mais
- diferença entre as médias

Mostre:
- `regiao`, `b_10`, `t_10`, `desigualdade`  
Ordene pela maior desigualdade.

# Resolução

In [1]:
from common import DatabaseConnection

conn = DatabaseConnection("database.duckdb")

2025-06-26 23:22:53,000 - INFO - Connected to database: database.duckdb

In [2]:
conn.execute("""
    SELECT
        *
    FROM familias
    LIMIT 10;
""")

2025-06-26 23:23:08,307 - INFO - Executing query...
2025-06-26 23:23:08,520 - INFO - Query executed successfully

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,dat_atualizacao_familia,cod_local_domic_fam,cod_especie_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,marc_pbf,qtde_pessoas,peso.fam
0,3205002,2,2,1,2018-06-28,2018-10-02,244,2018-06-28,1,1,...,2,2,None,<NA>,CRAS DE SERRA SEDE,32050034575,0,0,5,550256458545518
1,3205101,2,2,3,2018-08-27,2018-11-29,60,2018-11-29,1,1,...,2,2,None,<NA>,CRAS VIANA,32051030269,0,1,5,550355704647837
2,3201308,2,2,4,2018-02-23,2018-02-27,937,2018-02-23,1,1,...,2,2,None,<NA>,CRAS IV ALTO MUCURI,32013002407,0,0,1,550259704488172
3,3201308,2,2,6,2013-12-27,2018-10-01,44,2017-06-22,1,1,...,2,2,US CAMPO VERDE,2652994,CRAS III CAMPO VERDE,32013002406,0,1,2,550259704488172
4,3205002,2,2,7,2018-03-26,2018-03-28,0,2018-03-26,1,1,...,2,2,UNIDADE REGIONAL DE SAUDE SERRA,2465795,None,<NA>,0,1,2,550256458545518
5,3205002,2,2,8,2016-10-27,2018-10-01,176,2016-10-27,1,1,...,2,2,UNIDADE BASICA DE SAUDE VILA NOVA DE COLARES,2522845,CRAS DE VILA NOVA DE COLARES,32050002912,0,1,5,550256458545518
6,3205200,2,2,9,2015-06-16,2018-10-01,312,2018-03-20,1,1,...,2,2,UNIDADE DE SAUDE DA FAMILIA DE ULISSES GUIMARAES,3346501,CRAS JABAETE,32052015332,0,0,3,550245146328323
7,3201308,2,2,10,2017-04-05,2018-10-01,954,2018-07-04,1,1,...,2,2,None,<NA>,CRAS VII SOTELANDIA,32013035679,0,0,1,550259704488172
8,3205200,2,2,11,2018-10-03,2018-10-15,477,2018-10-03,1,1,...,2,2,UNIDADE DE SAUDE DA FAMILIA DE TERRA VERMELHA,2403412,CRAS MORADA DA BARRA,32052001291,0,0,2,550245146328323
9,3205002,2,2,12,2016-05-11,2016-05-11,4,2016-05-11,1,1,...,2,2,None,<NA>,None,<NA>,0,1,3,550256458545518

In [3]:
conn.execute("""
    SELECT
        *
    FROM pessoas
    LIMIT 10;
""")

2025-06-26 23:23:12,241 - INFO - Executing query...
2025-06-26 23:23:12,265 - INFO - Query executed successfully

,cd_ibge,estrato,classf,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,...,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,val_renda_bruta_12_meses_memb,val_renda_doacao_memb,val_renda_aposent_memb,val_renda_seguro_desemp_memb,val_renda_pensao_alimen_memb,val_outras_rendas_memb,peso.fam,peso.pes
0,3200805,2,3,1555504,1,2,44,1,1,2,...,1,12,3840,0,0,0,0,0,550045943141072,563276393161791
1,1503903,2,3,2151979,2,2,9,3,4,1,...,<NA>,<NA>,<NA>,<NA>,0,<NA>,0,<NA>,550378213527258,563260494910599
2,3550308,2,1,5234172,3,2,59,1,1,2,...,2,<NA>,<NA>,0,650,0,0,0,550244309203512,563276393161791
3,2612208,2,3,2851256,4,2,20,1,4,1,...,2,<NA>,<NA>,100,0,0,0,0,550169071775261,563276393161791
4,2924009,2,3,1230168,5,2,13,3,4,2,...,<NA>,<NA>,<NA>,<NA>,0,<NA>,0,<NA>,550221285674541,563268298617514
5,2111201,2,2,3850635,6,2,11,3,4,1,...,<NA>,<NA>,<NA>,<NA>,0,<NA>,0,<NA>,550232179523344,563281304029541
6,3304557,2,1,4963019,7,2,35,1,4,2,...,1,12,12564,0,0,0,0,0,550243164030245,563276393161791
7,3304144,2,2,3407990,8,2,27,1,2,2,...,1,12,2400,0,0,0,0,0,550291325039937,56328516355295
8,2929909,2,3,1248550,9,1,10,3,4,2,...,<NA>,<NA>,<NA>,<NA>,0,<NA>,0,<NA>,550154893620742,563260098555306
9,2905156,1,3,1271681,10,2,21,1,4,2,...,2,<NA>,<NA>,0,0,0,0,0,550245784694107,563276153365714

In [4]:
conn.execute("""
    SELECT
        *
    FROM ibge_municipios
    LIMIT 10;
""")

2025-06-26 23:23:16,462 - INFO - Executing query...
2025-06-26 23:23:16,465 - INFO - Query executed successfully

,municipio-id,municipio-nome,microrregiao-id,microrregiao-nome,mesorregiao-id,mesorregiao-nome,regiao-imediata-id,regiao-imediata-nome,regiao-intermediaria-id,regiao-intermediaria-nome,UF-id,UF-sigla,UF-nome,regiao-id,regiao-sigla,regiao-nome
0,1100015,Alta Floresta D'Oeste,11006,Cacoal,1102,Leste Rondoniense,110005,Cacoal,1102,Ji-Paraná,11,RO,Rondônia,1,N,Norte
1,1100023,Ariquemes,11003,Ariquemes,1102,Leste Rondoniense,110002,Ariquemes,1101,Porto Velho,11,RO,Rondônia,1,N,Norte
2,1100031,Cabixi,11008,Colorado do Oeste,1102,Leste Rondoniense,110006,Vilhena,1102,Ji-Paraná,11,RO,Rondônia,1,N,Norte
3,1100049,Cacoal,11006,Cacoal,1102,Leste Rondoniense,110005,Cacoal,1102,Ji-Paraná,11,RO,Rondônia,1,N,Norte
4,1100056,Cerejeiras,11008,Colorado do Oeste,1102,Leste Rondoniense,110006,Vilhena,1102,Ji-Paraná,11,RO,Rondônia,1,N,Norte
5,1100064,Colorado do Oeste,11008,Colorado do Oeste,1102,Leste Rondoniense,110006,Vilhena,1102,Ji-Paraná,11,RO,Rondônia,1,N,Norte
6,1100072,Corumbiara,11008,Colorado do Oeste,1102,Leste Rondoniense,110006,Vilhena,1102,Ji-Paraná,11,RO,Rondônia,1,N,Norte
7,1100080,Costa Marques,11002,Guajará-Mirim,1101,Madeira-Guaporé,110004,Ji-Paraná,1102,Ji-Paraná,11,RO,Rondônia,1,N,Norte
8,1100098,Espigão D'Oeste,11006,Cacoal,1102,Leste Rondoniense,110005,Cacoal,1102,Ji-Paraná,11,RO,Rondônia,1,N,Norte
9,1100106,Guajará-Mirim,11002,Guajará-Mirim,1101,Madeira-Guaporé,110001,Porto Velho,1101,Porto Velho,11,RO,Rondônia,1,N,Norte

In [12]:
conn.execute("""
    SELECT 
        cd_ibge, 
        AVG(vlr_renda_media_fam) AS renda_media, 
        COUNT(*) AS total_familias
    FROM familias
    GROUP BY cd_ibge
    HAVING total_familias > 50 AND renda_media < 200
    ORDER BY renda_media
    LIMIT 10;
""")

2025-06-26 23:51:58,573 - INFO - Executing query...

2025-06-26 23:51:59,078 - INFO - Query executed successfully

   cd_ibge  renda_media  total_familias
0  2106409    35.330769             260
1  2201770    36.900000             220
2  2111672    37.950000             100
3  1600550    41.648649             111
4  2701506    43.157895              76
5  2100808    46.441860             258
6  1600105    48.196774             310
7  1600253    50.399293             283
8  2100709    52.162523            1649
9  1506401    54.283019              53